<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="date.js"></script>--><!--引入外部js文件，与下方dispalyDate()函数功能一样-->
</head>
<body>
   <h1>this is my first javaScript!</h1>
   <button type="button" onclick="show('songyuancheng', 'nihao')">点我试一下</button>
   <button type="button" onclick="show('zhangsan', 'fuck you')">点我试一下</button>
   <script>
       function show(name,job){//变量和参数必须以一致的顺序出现。第一个变量就是第一个被传递的参数的给定的值，以此类推
            alert(name + job)  //输出显示
       }
   </script>
</body>
</html>